html, body {
  height: 100%;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  background-color: #f0efec;
}

#loading {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#main {
  width: 98%;
  height: 100%;

  clear: both;

  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

#actions {
  position: absolute;
  /* Exact position will be set using JavaScript. */
}

.decade:after {
  content: " ";
}

.fade {
  opacity: 0;

  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

#title {
  font-size: 1.5em;
  font-weight: 400;
  vertical-align: middle;
  margin-top: 1em;
  margin-bottom: 0.7em;
}

#article {
  display: none;
  text-align: justify;
  margin-top: -0.7em;
  margin-bottom: 1em;
}

#license {
  font-size: 0.6em;
  color: #ccc;
  text-align: right;
  margin-bottom: 2em;
}

a:active.ccorglink, a:link.ccorglink, a:visited.ccorglink {
  color: #ccc;
  font-weight: normal;
  text-decoration: none;
}

a:hover.ccorglink {
  color: #ccc;
  background-color: #666;
}


#timeline {
  font-size: 3.2em;
  font-weight: bold;
  background-color: #e4e4e4;
  position: relative;
  text-align: center;
  padding: 0.4em;
}

/*** NAV-BUTTONS ***/

.button {
  display: block;
  background: url("../img/ccbuttons-k.png") 0 0 no-repeat;
  width: 55px;
  height: 55px;
  border: none;
  margin-bottom: 20px;
  margin-left: 20px;
  opacity: 0.5;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.65);
}


#solutionButton {
  background-position: 0 0;
}

#reloadButton {
   background-position: -55px 0;
}

#helpButton {
  background-position: -165px 0;
}

#timelineButton {
  background-position: -110px 0;
}
 
/* Below iPad Portrait */
@media (max-width: 767px) {
  html {
    font-size: 0.8em;
  }

  #title {
    font-size: 1.1em;
  }
}

/* Portrait iPhone */
@media (max-width: 320px) {
  #title {
    clear: both;
  }

  .button {
    display: inline-block;
  }

  #actions {
    position: static;
    margin-top: 0.5em;
    margin-right: 0.5em;
  }
}
