html, body {
  height: 100%;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  background-color: #f0efec;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

#loading {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  -webkit-animation-name: rotate; 
  -webkit-animation-duration: 1s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

#main {
  width: 98%;
  height: 100%;

  clear: both;

  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

#actions {
  position: absolute;
  /* Exact position will be set using JavaScript. */
}

.decade:after {
  content: " ";
}

.fade {
  opacity: 0;

  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

#title {
  font-size: 1.5em;
  font-weight: 400;
  vertical-align: middle;
  margin-top: 1em;
  margin-bottom: 0.7em;
}

#article {
  display: none;
  text-align: justify;
  margin-top: -0.7em;
  margin-bottom: 1em;
}

#license {
  font-size: 0.6em;
  color: #ccc;
  text-align: right;
  margin-bottom: 2em;
}

a:active.ccorglink, a:link.ccorglink, a:visited.ccorglink {
  color: #ccc;
  font-weight: normal;
  text-decoration: none;
}

a:hover.ccorglink {
  color: #ccc;
  background-color: #666;
}


#timeline {
  font-size: 3.2em;
  font-weight: bold;
  background-color: #e4e4e4;
  position: relative;
  text-align: center;
  padding: 0.4em;
}

/*** NAV-BUTTONS ***/

a.button, a:active.button {
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  margin-left: 15px;

  background-color: #c8c8c8;
  color: #333;
  border: none;

  font-size: 42px;
  text-decoration: none;
  text-align: center;
  line-height: 66px;

  text-shadow: -1px -1px 2px #e4e4e4, 1px 1px 2px #e4e4e4;
}

a:hover.button {
  background-color: #e4e4e4;
}

/* Below iPad Portrait */
@media (max-width: 767px) {
  #title {
    font-size: 1.25em;
  }
}

/* Portrait iPhone */
@media (max-width: 320px) {
  #title {
    clear: both;
  }

  a.button {
    display: inline-block;
  }

  #actions {
    position: static;
    margin-top: 0.5em;
    margin-right: 0.5em;
  }
}
