@import compass/css3/text-shadow
@import compass/css3/transform
@import compass/css3/transition
@import animation

$dark-gray: #333
$medium-gray: #c8c8c8
$light-gray: #e4e4e4
$extra-light-gray: #f0efec

@function prefix-expression($property, $value)
  @return "(-webkit-#{$property}: #{$value}), (-moz-#{$property}: #{$value}), (-o-#{$property}: #{$value}), (#{$property}: #{$value})"

html, body
  height: 100%
  margin: 0
  font-family: 'Source Sans Pro', sans-serif
  font-weight: 300
  background-color: $extra-light-gray

+keyframes(rotate)
  from
    +rotate(0deg)
  to
    +rotate(360deg)

=fade
  opacity: 0
  +transition(opacity 0.5s ease-in-out)

#loading
  +fade
  +animation(rotate 1s infinite)
  +animation-timing-function(linear)

  background: url("../img/loading.png") no-repeat center
  @media #{prefix-expression(min-device-pixel-ratio, 2)}
    background-image: url("../img/loading@2x.png")

  background-size: 60px 60px
  width: 60px
  height: 60px

  position: absolute
  margin: auto
  left: 0
  right: 0
  top: 0
  bottom: 0

#main
  +fade

  width: 96%
  height: 100%

  position: absolute
  margin: auto
  left: 0
  right: 0

#puzzleContainer
  position: relative

#actions
  position: absolute
  top: 0
  /* left position will be set using JS */

h1
  font-size: 1.5em
  font-weight: 400
  vertical-align: middle
  margin-top: 1em
  margin-bottom: 0.7em

a, a:active, a:visited
  color: $dark-gray
  text-decoration: underline

a:hover
  color: black
  text-decoration: none

p
  text-align: justify
  margin-top: -0.7em
  margin-bottom: 1em

#article, #help
  display: none

#license
  font-size: 0.6em
  font-weight: 400
  color: $dark-gray
  text-align: right

#timeline
  margin-top: 1em
  background-color: $medium-gray
  text-align: center

.decade
  display: inline-block
  color: $dark-gray

  width: 70px
  padding-top: 0.25em
  padding-bottom: 0.25em

  font-size: 1.5em
  font-weight: 400
  text-decoration: none

.decade.unlocked
  color: $light-gray
  background-color: $dark-gray

.decade:hover
  background-color: $light-gray

.decade.unlocked:hover
  color: $dark-gray

/*** NAV-BUTTONS ***/

a.button, a:active.button
  display: block
  width: 60px
  height: 60px
  margin: 15px
  margin-top: 0

  background-color: $medium-gray
  color: $dark-gray
  border: none

  font-size: 42px
  text-decoration: none
  text-align: center
  line-height: 66px

  +text-shadow($light-gray -1px -1px 2px, $light-gray 1px 1px 2px)

a:hover.button
  background-color: $light-gray

/* Below iPad Portrait */
@media (max-width: 767px)
  h1
    font-size: 1.25em

/* Portrait iPhone */
@media (max-width: 320px)
  a.button
    display: inline-block
    margin-top: 15px
    margin-left: 0
    margin-bottom: 0

  #actions
    position: static
