<!DOCTYPE html>
<html>
<head>
  <title>CC.Play</title>
  <link rel="stylesheet" href="css/ccplay.css" type="text/css" />
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
  <script type="text/javascript" src="lib/buzz.min.js"></script>
  <script type="text/javascript" src="lib/paper.js"></script>
  <script type="text/javascript" src="src/puzzle.js"></script>
  <script type="text/javascript" src="src/ccplay.js"></script>
</head>
<body>
  <script type="text/template" id="mainTemplate">
    <h1 id="title"><%= year %>: <%= title %></h1>

    <canvas id="puzzleCanvas"></canvas>

    <div id="license">
      Bildlizenz:
      <a href="http://www.bild.bundesarchiv.de/archives/barchpic/search/?search[form][SIGNATUR]=<% print(archiveid.replace(' ', '+')) %>">Bundesarchiv, <%= archiveid %></a>
      / <%= author %> /
      <a href="http://creativecommons.org/licenses/by-sa/3.0/de/deed.de">CC BY-SA 3.0 DE</a>
    </div>

    <ul>
      <li id="showSolution">
        L&ouml;sung
      </li>
      <% _.each(links, function(link) { %>
        <li class="reward">
          <a href="<%= link %>" target="_blank">Wikipedia</a>
        </li>
      <% }) %>
      <li>
        <a href="javascript:document.location.reload();">Neues Bild</a>
      </li>
      <% if (!random) { %>
        <li class="reward">
          <a href="<%= nextLink %>">Vorheriges Jahrzehnt</a>
        </li>
      <% } %>
    </ul>
  </script>

  <img id="loading" class="fade" src="img/loading.gif"></img>
  <div id="main" class="fade"></div>
</body>
</html>
