<!DOCTYPE html>
<html>
<head>
  <title>CC PLAY</title>

  <link rel="stylesheet" href="css/normalize.css" type="text/css" />
  <link rel="stylesheet" href="css/ccplay.css" type="text/css" />
  <link rel="shortcut icon" href="favicon.ico" />

  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.9/backbone-min.js"></script>
  <script type="text/javascript" src="//piwik.thegoodevil.com/piwik.js"></script>
  <script type="text/javascript" src="lib/buzz/buzz.min.js"></script>
  <script type="text/javascript" src="lib/paper/paper.js"></script>
  <script type="text/javascript" src="src/puzzle.js"></script>
  <script type="text/javascript" src="src/ccplay.js"></script>

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="description" content="CCPLAY. Bring Ordnung in die Welt und puzzle die deutsche Geschichte zusammen!" />
  <meta name="keywords" content="Puzzle, Game, Puzzle Game, Creative Commons, CC, Bundesarchiv, Archiv, Deutsche Geschichte, Wikipedia, News Game, Serious Game, HTML5, Wikimedia, the Good Evil, thegoodevil, Spiel, spielen" />
  <meta name="robots" content="index,nofollow" />
  <meta name="language" content="Deutsch" />
  <meta http-equiv="content-language" content="de" />
</head>
<body>
  <script type="text/template" id="titleTemplate">
    <%= year %>: <%= title %>
  </script>

  <script type="text/template" id="licenseTemplate">
    Bildlizenz: <a href="http://www.bild.bundesarchiv.de/archives/barchpic/search/?search%5Bform%5D%5BSIGNATUR%5D=<% print(archiveid.replace(" ", "+")) %>" target="archive">Bundesarchiv, <%= archiveid %></a>
    / <%= author %> /
    <a href="http://creativecommons.org/licenses/by-sa/3.0/de/deed.de" target="_blank">CC BY-SA 3.0 DE</a> |
    Quelle: <a href="http://commons.wikimedia.org/wiki?curid=<%= pageid %>" target="commons">Wikimedia Commons</a> |
    <a href="" class="imprintLink">Impressum</a>
  </script>

  <script type="text/template" id="articleTemplate">
    <%= article.firstParagraph %>
    <a href="<%= links[0] %>" target="wikipedia">Mehr in der Wikipedia.</a>
  </script>

  <script type="text/template" id="actionsTemplate">
    <a class="button reloadButton" href="#image/"><i class="icon-random"></i></a>
    <div class="button helpButton"><i class="icon-medkit"></i></div>
    <a class="button" href="<%= twitterLink %>" target="twitter"><i class="icon-twitter"></i></a>    
    <div class="button solutionButton"><i class="icon-magic"></i></div>
  </script>

  <div id="welcome">
    <div id="welcomeBox">
      <a href="#image/">
        <div class="caption">CC PL<div class="button"><i class="icon-play"></i></div>Y</div>
        <br />
        <div class="teaser">
          Die deutsche Geschichte des 20. Jahrhunderts.<br />
          Vom Hitlerputsch 1923 bis zur Birkensafternte 1985.<br />
          Alles mit dabei. Nur ein bisschen durcheinander.
        </div>
      </a>
    </div>
  </div>

  <div id="loading"></div>

  <div id="main">
    <div id="help">
      <a class="closeButton"><i class="icon-remove"></i></a>

      <h1>Hallo!</h1>

      <p>
        Du spielst gerade CC PLAY. Bring Ordnung in die Welt und puzzle die historischen Fotos zusammen. Als Belohnung gibt es astreine Infos zum Bild.
      </p>

      <h1>Wie geht's?</h1>

      <p>
        <i class="icon-random"></i> Das Bild interessiert Dich nicht? Lad ein Neues!<br />
        <i class="icon-medkit"></i> Das ist der Hilfekoffer. Du hast ihn geöffnet!<br />
        <i class="icon-magic"></i> Du kommst nicht weiter? Der Zauberstab hilft!<br />
        <i class="icon-twitter"></i> Teile ein Bild bei Twitter, sagt der Vogel.
      </p>

      <p>
        Über die Zeitleiste unten kannst Du auch direkt Jahrzehnte ansteuern. Spiele ein Bild aus jedem einzelnen frei und erhöhe dein Geschichts-Karma! 
      </p>

      <p>
        Wir haben derzeit eine Auswahl von 4422 Fotos. Sie stammen alle aus dem <a href="http://www.bundesarchiv.de/" target="_blank">Bundesarchiv</a>, stehen unter einer <a href="http://de.creativecommons.org/" target="_blank">Creative-Commons</a>-Lizenz und sind mit einem Artikel in der <a href="http://de.wikipedia.org/" target="_blank">deutschen Wikipedia</a> verlinkt.
      </p>

      <h1>Danke gut!</h1>

      <p>
        CC PLAY ist eine Produktion von <a href="http://thegoodevil.com/" target="_blank">the Good Evil</a> aus dem Jahr 2013. Das Spiel ist Preisträger des Wettbewerbs <a href="http://www.wikimedia.de/wiki/WissensWert" target="_blank">WissensWert</a> und wurde von <a href="http://www.wikimedia.de/" target="_blank">Wikimedia Deutschland e.V.</a> finanziell unterstützt.
      </p>

      <p>
        Wenn Du den Code verschönern, verbessern oder weiterverwenden willst, findest Du ihn bei <a href="https://github.com/theGoodEvil/ccplay" target="_blank">GitHub</a>. Detailierte Informationen zur Lizenzierung finden sich im <a href="" class="imprintLink">Impressum</a>. Wenn Du Fragen hast, <a href="mailto:hallo@ccplay.de">bitte mailen</a>.
      </p>

      <h1>Und sonst?</h1>

      <p>
        Es gibt noch rund 80.000 Bilder im Bundesarchiv die noch in keinem Wikipedia-Artikel auftauchen. Du kannst das ändern. <a href="http://de.wikipedia.org/wiki/Hilfe:Bilder" target="_blank">Hier</a> steht wie. Und jetzt? Ein <a href="http://www.soundcloud.com/erdbeerschnitzel" target="_blank">Erdbeerschnitzel</a>!
      </p>
    </div>

    <div id="imprint">
      <a class="closeButton"><i class="icon-remove"></i></a>

      <h1>Impressum</h1>

      <p>
        <em>the Good Evil GmbH</em><br />
        Gilbachstraße 22<br />
        50672 Köln
      </p>

      <p>
        Geschäftsführung:<br />
        Marcus Bösch &amp; Linda Kruse
      </p>

      <p><a href="mailto:hello@thegoodevil.com">hello@thegoodevil.com</a></p>

      <p>
        Handelsregister Arnsberg: HRB 10241<br />
        USt-IdNr.: in Vergabe
      </p>


      <h1>Quellenangaben</h1>

      <p>
        Alle Fotos: <a href="http://www.bundesarchiv.de/" target="_blank">Das Bundesarchiv</a><br />
        Alle Artikel: <a href="http://de.wikipedia.org/" target="_blank">Wikipedia</a><br />
        Alle Icons: <a href="http://fortawesome.github.com/Font-Awesome" target="_blank">Font Awesome by Dave Gandy</a><br />
        Alle Sounds: <a href="http://www.soundcloud.com/erdbeerschnitzel" target="_blank">Tim Keiling</a>
      </p>

      <h1>Lizenz / Urheberrecht</h1>
      
      <p>
        Eigens für CC PLAY erstellte Inhalte stehen unter <a href="http://creativecommons.org/licenses/by-sa/3.0/de/" target="_blank">CC BY-SA</a>-Lizenz (Namensnennung: the Good Evil / CC PLAY). Der Quellcode steht unter der <a href="http://opensource.org/licenses/MIT" target="_blank">MIT Lizenz</a>. Bei der Verwendung der Bilder aus dem Bundesarchiv bitte auf die Lizenzangaben unter dem jeweiligen Bild achten.
      </p>

      <h1>Haftungsausschluss</h1>

      <p>
        <em>Haftung für Inhalte:</em> Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs. 1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
      </p>

      <p>
        <em>Haftung für Links:</em> Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
      </p>

      <p>
        <em>Datenschutz:</em> Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
      </p>

      <h1>Analysedienste</h1>

      <p>
        Wir verwenden Piwik. Dabei handelt es sich um einen sog. Webanalysedienst. Piwik verwendet sog. "Cookies", die uns eine Nutzungsanalyse der Webseite ermöglichen. Deine IP-Adresse wird bei diesem Vorgang umge­hend anony­mi­siert, so dass Du als Nutzer für uns anonym bleibst. Die erzeugten Informationen über Deine Benutzung dieser Webseite werden nicht an Dritte weitergegeben. Wenn Du mit der Spei­che­rung und Aus­wer­tung die­ser Daten aus Deinem Besuch nicht ein­ver­stan­den bist, dann kannst Du der Spei­che­rung und Nut­zung nachfolgend jederzeit wider­spre­chen. In diesem Fall wird in Deinem Browser ein sog. "Opt-Out-Cookie" abgelegt, was zur Folge hat, dass Piwik kei­ner­lei Sit­zungs­da­ten erhebt. Achtung: Wenn Du Deine "Cookies" löschst, so hat dies zur Folge, dass auch das "Opt-Out-Cookie" gelöscht wird und ggf. von Dir erneut aktiviert werden muss.
      </p>

      <h1>Widerspruch</h1>

      <p>
        Du kannst Dich hier entscheiden, ob in Deinem Browser ein eindeutiger Webanalyse-Cookie abgelegt werden darf, um dem Betreiber der Webseite die Erfassung und Analyse verschiedener statistischer Daten zu ermöglichen. Wenn Du Dich dagegen entscheiden möchtest, klicke bitte den folgenden Link, um den Piwik-Deaktivierungs-Cookie in Deinem Browser abzulegen.
      </p>

      <!-- Piwik  /// Analytics customized for ccplay.de // You may remove this code. --> 
      <iframe src="http://piwik.thegoodevil.com/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=de"></iframe>
      <!-- End Piwik Tracking Code -->
    </div>

    <div id="content">
      <h1 id="title"></h1>
      <p id="article"></p>
      <div id="puzzleContainer">
        <div id="flash"></div>
        <canvas id="puzzle"></canvas>
        <div id="license"> </div>
        <div id="actions"></div>
      </div>
      <div id="timeline"></div>
    </div>
  </div>

<!-- Piwik  /// Analytics customized for ccplay.de // You may remove this code. --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.thegoodevil.com/" : "http://piwik.thegoodevil.com/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://piwik.thegoodevil.com/piwik.php?idsite=2" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
</body>
</html>
