<!DOCTYPE html>
<html>
<head>
  <title>CC.Play</title>
  <link rel="stylesheet" href="css/ccplay.css" type="text/css" />
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.9/backbone-min.js"></script>
  <script type="text/javascript" src="lib/buzz.min.js"></script>
  <script type="text/javascript" src="lib/paper.js"></script>
  <script type="text/javascript" src="src/puzzle.js"></script>
  <script type="text/javascript" src="src/ccplay.js"></script>
</head>
<body>
  <script type="text/template" id="decadeTemplate">
    <% if (unlocked) { %>
      <a href="#decade/<%= id %>"><%= id %></a>
    <% } else { %>
      <%= id %>
    <% } %>
  </script>

  <script type="text/template" id="titleTemplate">
    <%= year %>: <%= title %>
  </script>

  <script type="text/template" id="licenseTemplate">
    Bildlizenz: Bundesarchiv, <%= archiveid %> /
    <%= author %> /
    <a href="http://creativecommons.org/licenses/by-sa/3.0/de/deed.de">CC BY-SA 3.0 DE</a>
  </script>

  <script type="text/template" id="articleTemplate">
    <% if (solved) { %>
      <%= article.firstParagraph %>
    <% } else { %>
      <%= article.teaser %>
    <% } %>
  </script>

  <script type="text/template" id="actionsTemplate">
    <ul>
      <li id="showSolution">
        L&ouml;sung
      </li>
      <% _.each(links, function(link) { %>
        <li class="reward">
          <a href="<%= link %>" target="_blank">Wikipedia</a>
        </li>
      <% }) %>
      <li>
        <a href="#image/">Neues Bild</a>
      </li>
    </ul>
  </script>

  <img id="loading" class="fade" src="img/loading.gif"></img>

  <div id="main" class="fade">
    <div id="timeline"></div>
    <h1 id="title"></h1>
    <canvas id="puzzle"></canvas>
    <div id="license"></div>
    <div id="article"></div>
    <div id="actions"></div>
  </div>
</body>
</html>
